.big_number {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif,proxima_softregular;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big_number .text_container {
  left: 50%;
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
}

.big_number .image_asset_container {
  padding: 15px;
}

.big_number .text_subcontainer {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.big_number .header_line {
  line-height: 1em;
  font-weight: 600;
  text-align: right;
  padding: 0;
}

.big_number .subheader_line {
  line-height: 1em;
  padding: 0;
  font-weight: 200;
  text-align: right;
}
