.big_number {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big_number .text_container {
  left: 50%;
  min-width: 100%;
}

.big_number .header_line {
  line-height: 1em;
  font-weight: 600;
}

.big_number .header_line span {
  bottom: 0;
  left: 0;
  right: 0;
}

.big_number .subheader_line {
  line-height: 1em;
  padding-bottom: 0;
  font-weight: 200;
}
