.gauge {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: rgba(252, 211, 180, .2);
}


.needle-needle {
  fill: white;
  fill-opacity: 0.8;
}

.needle-base {
  fill: white;
  fill-opacity: 1;
}

.needle-inner-circle {
  fill: #5e2590;
}

.needle-background {
  fill: #dfdddd;
  fill-opacity: 0.8;
}

.text-subheader {
  font-size: smaller;
}